.navcontainer {
  position: sticky;
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: #e3cca28c;
  background-attachment: fixed;
  padding: 0px;
  z-index: 999;
  top: 0;
}

.nav__logo__img {
  margin: 5px 5px;
  justify-content: center;
  align-items: center;
}

.nav__logo {
  display: flex;
  flex-flow: row nowrap;
  text-align: left;
  text-decoration: none;
  color: rgb(0, 0, 0);
  align-items: center;
  cursor: pointer;
  justify-content: left;
  margin: 0 -10px;
  padding: 0 5px;
}

.nav__right {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.nav__ul {
  margin: 0 -360px;
  padding: 0px 130px 0 230px;
  list-style-type: none;
}

.nav__left {
  font-size: 30px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .nav__logo__img {
    margin: 5px 5px;
    padding: 10px 10px;
    height: 90px;
    width: 90px;
}

  .navcontainer {
    width: 100%;
    font-size: 45px;
    height: 75px;
    font-size: 15px;
  }

  .nav__left {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .nav__ul {
    margin: 0px -355px;
    padding: 0px 130px;
  }

  .nav__logo__img {
    margin: 5px 5px;
    padding: 10px 10px;
    height: 100px;
    width: 100px;
}

  .navcontainer {
    width: 100%;
    font-size: 45px;
    height: 100px;
    font-size: 25px;
  }

  .nav__left {
    display: none;
  }
}

@media only screen and (min-device-width: 1025px) {
  .nav__ul {
    margin: 0px -355px;
    padding: 0px 130px;
  }

  .nav__logo__img {
    padding: 5px 5px;
    height: 100px;
    width: 100px;
}
  .navcontainer {
    width: 100%;
    font-size: 45px;
    height: 95px;
    font-size: 20px;
  }

  .nav__left {
    font-size: 22px;
  }
}
